#main {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
}
@media (max-width: 1199px){
    #main{
        padding: 20px;
    }
}
#prod_tag{
    background-color: #42aeb5;
    color: whitesmoke;
}
#but{
    background-color: white;
    color: #42aeb5;
    border: 1px solid #42aeb5;
}
#but:hover{
    background-color: #42aeb5;
    color: white;
    transition: ease-in-out 0.5s;
}